*.dfinish
*.final
*.dwarf2
*.nothrow
*.shorten
*.cet
*.barriers
*.alignments
*.mach
*.stack
*.jump2
*.pro_and_epilogue
*.split2
*.reload
*.expand
*.vregs
*.into_cfglayout
*.jump
*.reginfo
*.outof_cfglayout
*.split1
*.dfinit
*.mode_sw
*.asmcons
*.ira

*.o
*.csv

benchmark-test
benchmark-naive
benchmark-blocked
benchmark-blas